
@{
    ViewBag.Title = "options";
}

<style type="text/css">
    .PageTitle {
        padding-top: 25px;
        padding-bottom: 25px;
    }
</style>

<h2 class="PageTitle">Edit Roles</h2>
<hr />

<h2>Get Role for User</h2>
@using (Html.BeginForm("GetRoles", "Admin"))
{
    @Html.AntiForgeryToken()
    <p>
        UserName: @Html.TextBox("UserName")
        <input type="submit" value="Get Roles For This User" />
    </p>

    if (ViewBag.Role != null)
    {
        <div style="background-color:darkgreen">
            <h3>Roles for This User</h3>
            <h2>@ViewBag.Role.ToString()</h2>
        </div>
    }

}
<h2>Change User Role</h2>
@using (Html.BeginForm("RoleAddToUser", "Admin"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.TextBox("UserName")
        Role Name : @Html.DropDownList("rolename", new SelectList(ViewBag.Roles,"Name"))
    </p>
    <input type="submit" value="Save" />

}
<hr />



