
@{
    ViewBag.Title = "options";
}

<h1>Edit Roles</h1>
<hr/>

<h2>Add User to Role</h2>
@using (Html.BeginForm("RoleAddToUser", "Roles"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username ; @Html.TextBox("UserName")
        Role Name : @Html.DropDownList("RoleName",(IEnumerable<SelectListItem>)ViewBag.Roles,"Select ...")
    </p>
    <input type = "submit" value="Save"/>

}
<hr/>
<h2>Get Roles for User</h2>
@using (Html.BeginForm("GetRoles", "Roles"))
{
    @Html.AntiForgeryToken()
    <p>
        UserName: @Html.TextBox("UserName")
        <input type="submit" value="Get Roles For This User"/>
    </p>

    @if (ViewBag.RolesForThisUser !=null)
    {
    <div style="background-color:yellow">
        <h3>Roles for This User</h3>
        <ol>
            @foreach (string r in ViewBag.RolesForThisUser)
            {
                <li>@r</li>
            }
        </ol>
    </div>
    }
    <hr/>
    <h2>Delete a User From a Role</h2>
    @using (Html.BeginForm("DeleteRoleForUser", "Roles"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <p>
            UserName : @Html.TextBox("UserName")
            Role Name : @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles,"Select ...")
        </p>

        <input type="submit" value="Delete this user from role"/>
    }
}


