@model IEnumerable<TrashCollector.Models.ApplicationUser>

@{
    ViewBag.Title = "WeeklyPickups";
}

<style type="text/css">
    .PageTitle{
        padding-top:25px;
        padding-bottom:25px;
    }
</style>

<h2 class="PageTitle">Weekly Pickups</h2>

@using (Html.BeginForm("WeeklyPickups", "Employee"))
{
    @Html.AntiForgeryToken()
    <p>
        Day of the week: @Html.DropDownList("SortByDate",new SelectList(ViewBag.Days))
        <input type="submit" value="Sort" />
    </p>
}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduledDay)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledDay)
                </td>

            </tr>
        }

    </table>
